<!DOCTYPE html>
<html ng-app="app">
<head>
	<!-- Require base -->
	<base href="/">

	<title ng-bind="$state.current.data.title">Application</title>

	<!-- inject:third-party-styles -->
	<!-- endinject -->

	<!-- inject:styles -->
	<!-- endinject -->

	<!-- inject:third-party-scripts -->
	<!-- endinject -->

	<!-- inject:scripts -->
	<!-- endinject -->

	<!-- inject:app-default -->
	<!-- endinject -->

	<!-- inject:app-scripts -->
	<!-- endinject -->
</head>
<body>
	<!-- Default Header -->
	<section id="header" ui-view="header"></section>
	<section id="main" ui-view>
	<!-- Dynamic Contents -->
	</section>
	<!-- Default Footer -->
	<section id="footer" ui-view="footer"></section>
</body>
</html>